CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
#clion
.idea
#vs code
.vscode
#executables
cw.exe
cw
#other
*.ilk
*.pdb
*.cbp
#app log files
log
